.login-form-container {
  @include flex(center, center, column, 20px);

  .login-form {
    border: 2px solid $mainBlue;
    border-radius: 15px;
    padding: 25px 35px;
    @include flex(center, center, column, 20px);

    div {
      @include flex(center, center, column, 20px);
    }
  }
}
