.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  &__logo {
    font-size: 1.8rem;
    &--border {
      border: 1px solid $mainFontColor;
      margin-top: 6px;
    }
  }

  &__middle,
  &__right {
    display: flex;
    gap: 25px;
    @include flex(center, center, row, 30px);
    button {
      border: 2px solid $mainBlue;
      padding: 5px 15px;
      color: $mainFontColor;
      font-size: 1.5rem;
      background-color: white;
      border-radius: 15px;
      cursor: pointer;
    }

    .hello {
      font-size: 24px;
      color: crimson;
      margin: 0px;
    }

    @include media(medium) {
      display: none;
    }
  }

  .active {
    background-color: $mainBlue;
    color: white;
    &:hover {
      background-color: $mainBlue;
      color: white;
    }
  }
}

.icon {
  display: none;

  @include media(medium) {
    display: inline-block;
    height: 32px;
    cursor: pointer;
  }
}
