.start-fund-container {
  @include flex(center, center, column, 20px);

  .start-fund-form {
    border: 2px solid $mainBlue;
    border-radius: 15px;
    height: 100%;
    @include flex(center, center, column, 20px);
    padding: 15px 25px;

    @include media(medium) {
      padding: 25px 45px;
    }

    &__upper {
      @include flex(center, center, row, 50px);

      @include media(medium) {
        @include flex(center, center, column, 30px);
      }

      &--name,
      &--surname,
      &--goal {
        @include flex(center, center, column, 20px);

        label {
          text-align: center;
          font-size: 24px;
        }
      }
    }

    &__story {
      @include flex(center, center, column, 20px);
      textarea {
        padding: 10px;
        width: 400px;
        height: 300px;

        @include media(medium) {
          width: 300px;
        }
        @include media(small) {
          width: 200px;
        }
      }

      label {
        font-size: 24px;
      }
    }
  }
}
